@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Joti+One&display=swap');

body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(136, 103, 63);
}
main {
    padding: 16px;
}
footer {
    padding: 30px ;
    background-color: rgb(3, 95, 23);
    font-family: 'Joti One', cursive;


}
footer:hover{
    background: yellow;


}
img {
    height: 200px;
    border: 8mm ridge rgb(3, 95, 23) ;
}
nav {
    border-color: black;
    border-bottom: 1px;
    padding: 16px;
    background-color: rgb(3, 95, 23);
    }
#veg-tacos{
    display: grid ;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
}
a {
    text-decoration: none;
    color: black;
    font-style: italic;
    }
a:hover{
    color: red;
    background: yellow;
}

li:hover{
    font-style: italic;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    box-shadow: 10px 5px 5px yellow;
}
td:hover{
    color: purple;
    background: yellow;
}
#ing{
    background-color: rgb(3, 95, 23);
    padding: 5px;
    transition: 2s;
    font-family: 'Fasthand', cursive;
}
#ing:hover{

    background-color: yellow;
    padding: 15px;

}

h1:hover{
    font-family: 'Joti One', cursive;
    box-shadow: 10px 5px 5px yellow;
}
